.name-input {
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;

  span {
    display: block;
    margin: 20px 0 20px 0;
  }

  input {
    padding: 5px 0;
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
}