.app {
  text-align: center;

  header {
    background-color: #222;
    padding: 20px;
    color: white;

    img {
      &.app-logo {
        margin: 45px 0;
        width: 100%;
        max-width: 180px;
      }
    }

    h1 {
      font-size: 1.5em;
    }
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
